extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  h2(style="color: black;") City
  
  table
    thead     
      th(style="color: black;").text-center Country Code🚩
      th(style="color: black;") City
      th(style="color: black;").number Population
    tbody
      each row in rows
        tr                  
          td.fit #{row.CountryCode}
          td #{row.Name}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}