extends layout.pug

block head
  link(rel="stylesheet", href="/index.css")
  link(rel="stylesheet", href="/gallery.css")

block content
  h2 Welcome to Population data! 
  h3 Here you can explore different population data
  .gallery
    each idx in Array.from(Array(21).keys())
        img.gallery-img(src=`https://picsum.photos/600/200?random=${idx}`, alt="")