
mixin navigation
  nav
    a(href="/")
      b Home
    a(href="/cities")
      b Cities 
    a(href="/login")
      b Log-in 
    
    a(href="/search")
      b Search 
    a(href="/about")
      b About 