block head
  link(rel="stylesheet", href="/nav.css")

mixin navigation
  nav
    a(href="/")
      b Home

    a(href="/cities")
      b Cities 

    a(href="/search")
      b Search

    a(href="/login")
      b Log-in 

    a(href="/register")
      b Sign-up

    a(href="/account")
      b Dashboard 
      
    a(href="/about", style="float: right;")
      b About 