.table {
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table th {
  background-color: #565656;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 12px;
}

.table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #e2e2e2;
}
