/* Table styles */
.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.table th {
  background-color: #444;
  background-color: #565656;
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 15px;
  border-bottom: 3px solid #222;
}

.table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 15px;
}

.table tr:hover {
  background-color: #f5f5f5;
}

/* Button styles */
.search-btn {
  background-color: #444;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #222;
}

/* Input styles */
.search-input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  width: 70%;
  margin-right: 20px;
  font-size: 16px;
}

/* Label styles */
.search-label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
