html,
body {
  font-size: 15px;
  font-family: "Segoe UI", sans-serif;
  background-image: url(3.jpg);
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 3rem;
}

h1 {
  font-size: xx-large;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #9ca5ac;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-radius: 20px;  
  border-bottom: 5px solid #cccccc;
}


nav b {
  color: rgb(0, 0, 0);
  font-size: large;
}

nav b:hover {
  color: #4d747d;
}

.layout-content {
  padding-top: 1.5rem;
}
